* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
.contacto {
  min-width: 360px;
  min-height: 660px;
  background-color: #761124;
  color: white;
}
.contacto__content {
  padding: 70px 20px;
}
.contacto__content-titulo {
  font-size: 32px;
  text-align: center;
  font-family: Montserrat;
  font-weight: 700;
  margin-bottom: 50px;
}
.contacto__content-form {
  flex-direction: column;
  display: grid;
  gap: 40px;
}
.nombre,
.email {
  width: 320px;
  height: 35px;
}
.texto {
  width: 320px;
  height: 100px;
}
.submit {
  font-family: Poppins;
  font-weight: 700;
  font-size: 16px;
  border: none;
  background-color: #2c2c2c;
  color: white;
  margin-top: 80px;
  height: 40px;
  width: 320px;
}
